<div class="container-fluid">
	<div class="row title-top2">
		<h1>Frequently Asked Questions</h1>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="question">
				<div class="question-q">
					<strong>Q: </strong>How can I modify or delete a playlist that I created?
				</div>
				<div class="question-a">
					<strong>A: </strong>Use your playlist's code on the menu Edit.
				</div>
			</div>
			<div class="question">
				<div class="question-q">
					<strong>Q: </strong>How can I get my playlist's code?
				</div>
				<div class="question-a">
					<strong>A: </strong>It will be printed after the creation. You will not be able to retrieve it after that, keep it somewhere if you plan to use it.
				</div>
			</div>
			<div class="question">
				<div class="question-q">
					<strong>Q: </strong>Can I create a playlist in private only?
				</div>
				<div class="question-a">
					<strong>A: </strong>Not yet, but I'm planning to implement this feature.
				</div>
			</div>
			<div class="question">
				<div class="question-q">
					<strong>Q: </strong>Why did you make this website?
				</div>
				<div class="question-a">
					<strong>A: </strong>Because, some videos in my playlists disappeared after being removed from Youtube. It was annoying to keep maintaining my playlists up to date.
				</div>
			</div>
			<div class="question">
				<div class="question-q">
					<strong>Q: </strong>Can you be my friend?
				</div>
				<div class="question-a">
					<strong>A: </strong>Yes.
				</div>
			</div>
			<div class="question">
				<div class="question-q">
					<strong>Q: </strong>Can I ask/suggest you something else?
				</div>
				<div class="question-a">
					<strong>A: </strong>Yes, at noel.dovan@epitech.eu.
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
